<!doctype html>
<html>
	<head>
		<title>Auto-HUD</title>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery-2.1.4.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/underscore.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/weather_test.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/build.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
	</head>
	<body>
		{% for section in params.C.sections %}
			<div id="{{ section }}-wrapper" class="section-wrapper"></div>
		{% endfor %}

		<script id="time-template" type="text/template">
			<% if (d.time || d.date) { %>
				<div class="hud-section hud-section-time">
					<% if (d.time) { %>
						<h1 onclick="document.documentElement.webkitRequestFullscreen()">
							<%= d.time.hours %>
							<span class="colon">:</span>
							<%= d.time.minutes %>
						</h1>
					<% } %>
					<% if (d.date) { %>
						<h2>
							<%= d.date.month %> <%= d.date.day %>, <%= d.date.year %>
						</h2>
					<% } %>
				</div>
			<% } %>
		</script>

		<script id="weather-template" type="text/template">
			<% if (d.weather) { %>
				<ul class="hud-section hud-section-weather">
					<li class="hud-section-weather-current">
						<%= d.weather.current.summary %>
						<% if (d.weather.current.icon) { %>
							<span class="wi wi-forecast-io-<%= d.weather.current.icon %>"></span>
						<% } %>
						<%= d.weather.current.temperature %>
					</li>
					<li class="hud-section-weather-preview">
						<% if (d.weather.preview.tomorrow) { %>
							<span class="hud-section-weather-line">
								Tomorrow:
								<%= d.weather.preview.high %>
							</span>
						<% } %>
						<% if (d.weather.preview.precip > 0) { %>
							<span class="hud-section-weather-line">
								<%= d.weather.preview.precip %>% chance of rain
							</span>
						<% } %>
					</li>
				</div>
			<% } %>
		</script>

		<script id="weather2-template" type="text/template">
			<% if (d.weather2) { %>
				<ul class="hud-section hud-section-weather">
					<li class="hud-section-weather-current" style="font-size: 110%">
						<%= d.weather2.title %>:
						<%= d.weather2.current.summary %>
						<% if (d.weather2.current.icon) { %>
							<span class="wi wi-forecast-io-<%= d.weather2.current.icon %>"></span>
						<% } %>
						<%= d.weather2.current.temperature %>
						<% if (d.weather2.preview.precip > 0) { %>
							(<%= d.weather2.preview.precip %>%)
						<% } %>
					</li>
				</div>
			<% } %>
		</script>

		<script id="birthdays-template" type="text/template">
			<% if (d.birthdays && d.birthdays.length) { %>
				<ul class="hud-section hud-section-birthdays">
					<% _.each((d.birthdays), function(birthday) { %>
						<li>
							Today is <%= birthday.name %>'s <%= birthday.age %><%= birthday.postfix %> birthday
							<span class="fa fa-birthday-cake"></span>
						</li>
					<% }) %>
				</ul>
			<% } %>
		</script>

		<script id="chores-template" type="text/template">
			<% if (d.chores && d.chores.length) { %>
				<ul class="hud-section hud-section-chores">
					<% _.each((d.chores), function(chore) { %>
						<li>
							<%= chore.text %>
							<% if (chore.icon) { %>
								<span class="fa fa-<%= chore.icon %>"></span>
							<% } %>
						</li>
					<% }) %>
				</ul>
			<% } %>
		</script>

		<script id="muni-template" type="text/template">
			<% if (d.muni) { %>
				<div class="hud-section">
					Castro Station Inbound
					<br>
					<% _.each(d.muni, function(line, index) { %>
						<%= (index > 0) ? ', ' : '' %>
						<%= line.routeCode %>
						<% if (Math.round(line.seconds / 60) == 0) { %>
							now
						<% } else { %>
							in <%= Math.round(line.seconds / 60) %>m
						<% } %>
					<% }) %>
				</div>
			<% } %>
		</script>

		<script id="subway-template" type="text/template">
			<% if (d.subway) { %>
				<ul class="hud-section hud-section-subway">
					<% _.each(_.keys(d.subway), function(line) { %>
						<li>
							<%= d.subway[line].lines %>
							<span class="hud-section-subway-status">
								<%= d.subway[line].status %>
							</span>
						</li>
					<% }) %>
				</ul>
			<% } %>
		</script>

		<script id="noConnection-template" type="text/template">
			<% if (d.noConnection) { %>
				<div class="hud-section hud-section-no-connection">
					no connection
					<span class="fa fa-exclamation-triangle"></span>
				</div>
			<% } %>
		</script>

		<div id="fa-trigger" class="fa fa-battery-full"></div>
		<div id="wi-trigger" class="wi wi-forecast-io-partly-cloudy-day"></div>

		<script>
			AutoHUD.init({{ params|safe }});
		</script>
	</body>
</html>
